<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OTP VERIFICATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="otp.css">
</head>
<body>
    <div class="container">
        <a id="kkkk" class="login_botten_tag" href="login">
            <button class="btn btn-block mt-4 bg-dark buttensignup text-white">VERIFY</button>
        </a>
    </div>
</body>
</html>
