{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block hihi pt-4">
                <img class="sizeorImage" src="{% static 'images/signup-image.png' %}" alt="">
            </div>
            <div class="col-md-6 col-12 pl-5 hai">
                <div class="signup-form mt-3">
                    <div class="logoimg pb-4">
                        <img class="sizeForImage" src="{% static 'images/Asif Logo.png' %}" alt="">
                    </div>
                    <form id="form" method="post">
                        {% csrf_token %}
                        <div class="input-control mt-3 ">
                            <input type="text" id="firstname" class="form-control input-with-border" name="firstname" placeholder="First Name">
                            <div class="error"></div>
                        </div>
                        <div class="input-control mt-3">
                            <input type="text" id="lastname" class="form-control input-with-border" name="lastname" placeholder="Last Name">
                            <div class="error"></div>
                        </div>
                        <div class="input-control mt-3 ">
                            <input type="email" id="email" class="form-control input-with-border" name="email" placeholder="Email">
                            <div class="error"> {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}{{message}}{% endif %} {% endfor %} {% endif %} </div>
                        </div>
                        <div class="input-control mt-3 ">
                            <input type="tel" id="phonenumber" class="form-control input-with-border" name="phonenumber" placeholder="Phone Number">
                            <div class="error">{% if messages %} {% for message in messages %} {% if message.tags == 'info' %}{{message}}{% endif %} {% endfor %} {% endif %}</div>
                        </div>
                        <div class="input-control mt-3 ">
                            <input type="password" id="password" class="form-control input-with-border" name="password" placeholder="Password">
                            <div class="error"></div>
                        </div>
                        <div class="input-control mt-3 ">
                            <input type="password" id="confirm_password" class="form-control input-with-border" name="confirm_password" placeholder="Confirm Password">
                            <div class="error"></div>                        
                        </div>
                            
                        <div class="form-group">
                            <a id="kkkk" class="login_botten_tag" href={% url 'send_otp' %}>
                                <button class="btn btn-block mt-4 bg-dark buttensignup text-white">Sign Up</button>
                            </a>
                        </div>
                        <p class="text-center text-dark small">Already have an account? <a class="text-dark" href="{% url "signin" %}">Login here!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#form').submit(function(e) {
            e.preventDefault();
            $('.error').html('');

            var firstname = $('#firstname').val();
            var lastname = $('#lastname').val();
            var email = $('#email').val();
            var phonenumber = $('#phonenumber').val();
            var password = $('#password').val();
            var confirm_password = $('#confirm_password').val();

            // Define validation rules here
            var isValid = true;

            if (firstname === '') {
                isValid = false;
                $('#firstname').next('.error').html('First Name is required.');
            }

            if (lastname === '') {
                isValid = false;
                $('#lastname').next('.error').html('Last Name is required.');
            }

            if (email === '') {
                isValid = false;
                $('#email').next('.error').html('Email is required.');
            } else if (!isValidEmail(email)) {
                isValid = false;
                $('#email').next('.error').html('Invalid email format.');
            }

            if (phonenumber === '') {
                isValid = false;
                $('#phonenumber').next('.error').html('Phone Number is required.');
            } else if (!isValidPhoneNumber(phonenumber)) {
                isValid = false;
                $('#phonenumber').next('.error').html('Invalid phone number format. Please enter 10 digits.');
            }

            if (password === '') {
                isValid = false;
                $('#password').next('.error').html('Password is required.');
            } else if (!isValidPassword(password)) {
                isValid = false;
                $('#password').next('.error').html('Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.');
            }

            if (confirm_password === '') {
                isValid = false;
                $('#confirm_password').next('.error').html('Confirm Password is required.');
            } else if (password !== confirm_password) {
                isValid = false;
                $('#confirm_password').next('.error').html('Passwords do not match.');
            }

            if (isValid) {
                // Form is valid, you can submit the data or take further actions here
                $('#form')[0].submit();
            }
        });

        function isValidEmail(email) {
            // You can implement a regular expression for email validation here.
            // For a simple example, you can use the following regex:
            var emailRegex = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
            return emailRegex.test(email);
        }

        function isValidPhoneNumber(phone) {
            // Use a regular expression to check for exactly 10 digits
            var phoneRegex = /^\d{10}$/;
            return phoneRegex.test(phone);
        }

        function isValidPassword(password) {
            // Use a regular expression to check for a high-secure password
            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            return passwordRegex.test(password);
        }
    });
</script>



</html>
