{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="your-static-css-path/login_page.css?v=2">
    <link rel="stylesheet" href="{% static 'admin_panel/css/adminlogin.css' %}">


</head>

<body>
    <div class="login-form">
        <div class="card">
            <h2 class="text-center">Admin Login</h2>

            <form method="post">
                {% csrf_token %}    
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password"
                        required="required">
                </div>

                <div class="messages">
                    <!-- Messages here -->
                    <!-- Replace this with your messages -->
                </div>

                <div class=" form-group pt-2 ">
                    <button type="submit" class="btn text-light btn-lg btn-block  mt-3">Sign in</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Hide the error messages after 2 seconds
            setTimeout(function () {
                var messages = document.querySelectorAll('.hai');
                messages.forEach(function (message) {
                    message.style.display = 'none';
                });
            }, 1500);
        });
    </script>
</body>

</html>