{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Enquiries{% endblock title %}
{% block chats %}{% endblock chats %}
{% block content %}

<main id="main" class="main">
    <div class="container mt-5 mb-5">
        <div class="row">
            
            <input id="logged-in-user" type="hidden" value={{user.id}} ></input>
            <input id="recipient-user-id" type="hidden" value="{{ RecipientUser.id }}"
            <div class="container mt-5 mb-5">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h5 class="mb-0">Help!</h5>
                    </div>
                    <div class="card-body mt-2 chat-box" id="chat-box" style="max-height: 400px; overflow-y: auto;">
                        {% for chat in old_messages %}
                            {% if chat.user == user %}
                                <div class="d-flex mb-4 replied justify-content-start">
                                    <div class="msg_cotainer_send alert alert-primary">
                                        {{ chat.message }} <br>
                                        <span class="msg_time_send" style="font-size: 10px;">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex mb-4 replied justify-content-end">
                                    <div class="msg_cotainer_admin alert alert-dark">
                                        {{ chat.message }} <br>
                                        <span class="msg_time_send" style="font-size: 10px;">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!-- Dummy message -->
                        <div class="mb-4 replied">
                            <div class="msg_card_body">
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <form class="message-form" id="send-message-form">
                            <div class="input-group">
                                <input type="text" class="form-control" id="input-message" name="message" placeholder="Type your message...">
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{% static "chat_js/chat.js" %}"></script>
        </div>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static "chat_js/chat.js" %}"></script>
{% endblock content %} 