{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Banners{% endblock title %}
{% block banners %}{% endblock banners %}
{% block content %}

<style>
   th,td{
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h1>Banners</h1>
            </div>
            <div class="col-md-3 d-flex justify-content-end mt-3 btn-group ml-auto" role="group" aria-label="Basic example">
                <a href="{% url 'add_banner' %}" type="button" class="btn btn-outline-dark mr-1">Add Banners</a>
                
            </div>
            
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Banners</li>
            </ol>
        </nav>
    </div>
    
       
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                

                <div class="card-body">
                    <table class="table table-responsive datatable mt-5">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Banner Type</th>
                                <th>Main Title</th>
                                <th>Sub Title</th>
                                <th>Action</th>
                                <th>Edit</th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in banners %}
                            <tr>
                                <td>{{b.id}} </td>
                                <td><img src="{{ b.file_input.url }}" height="100" width="200"></td>
                                <td>{{ b.banner_type }}</td>
                                <td>{{ b.main_title }}</td>
                                <td>{{ b.subtitle }}</td>
                                <td> {% if b.is_active %}
                                    <a href="delete_banner/{{ b.id }}" type="button" class="btn btn-danger">Deactivate</a>
                                {% else %}
                                    <a href="delete_banner/{{ b.id }}" type="button" class="btn btn-success">Activate</a>
                                {% endif %}
                                </td>
                                <td><a href="edit_banner/{{b.id}}" type="button" class="btn btn-light">Edit</a>
                                </td>                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->
{% endblock content %}