{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Dash{% endblock title %}
{% block dashboard %}{% endblock dashboard %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <div class="row align-items-center">
        <div class="col-md-4">
            <h1>Dashboard</h1> 
        </div>
        <div class="col-md-8 d-flex justify-content-end" >
          <form id="dateForm" class="d-flex ms-auto">
            {% csrf_token %}
              <div class="me-3">
                  <button type="button" name="day" class="btn mt-1 btn-outline-dark">Day</button>
              </div>
              <div class="me-3">
                  <button type="button" name="week" class="btn mt-1 btn-outline-dark">Week</button>
              </div>
              <div>
                  <button type="button" name="year" class="btn mt-1 btn-outline-dark">Yearly</button>
              </div>
        </form>
        </div>
        
    </div>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Admin</li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  
                </div>

                <div class="card-body">
                  <h5 class="card-title">No. Orders</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6 class="orderss" >{{ no_of_orders }}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  
                </div>

                <div class="card-body">
                  <h5 class="card-title">Revenue</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-rupee"></i>
                    </div>
                    <div class="ps-2">
                      <h6 class="revenuee" >&#8377;{{ total_revenue }}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  
                </div>

                <div class="card-body">
                  <h5 class="card-title">Customers</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ total_customers }}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title"><b>Total Profit</b></h2>
            
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-primary text-white">
                      <i class="bi bi-currency-rupee"></i>
                    </div>
                    <div class="ps-3 mt-2">
                      <h2 ><b class="profit_total" >&#8377;{{ profit }}</b></h2> <!-- Increased the font size -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
              <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                  <div class="card-body">
                    <h5 class="card-title">Sales By Catogeries<span>| All time</span></h5>

                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        // Assuming nested_order_data is a list of [category_name, order_count]
                        var nestedOrderData = {{ nested_order_data|safe }};
                    
                        // Extracting labels and data from the context
                        var categoryLabels = nestedOrderData.map(entry => entry[0]);
                        var orderCountData = nestedOrderData.map(entry => entry[1]);
                    
                        new Chart(document.querySelector('#barChart'), {
                          type: 'bar',
                          data: {
                            labels: categoryLabels,
                            datasets: [{
                              label: 'Sales Count',
                              data: orderCountData,
                              backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)'
                              ],
                              borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)'
                              ],
                              borderWidth: 1
                            }]
                          },
                          options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            }
                          }
                        });
                      });
                    </script>
                    
                    <!-- End Bar CHart -->

                  </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
          <div class="card">
            <div class="filter">
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Payments<span>| All time</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: {{total_online}},
                          name: 'Online Payments'
                        },
                        {
                          value: {{total_cash_on_delivery}},
                          name: 'Cash on Delivery'
                        },
                        {
                          value: {{ total_wallet }},
                          name: 'Wallet Payments'
                        },
                        
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->
          
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Most Sold Products<span>| All time</span></h5>

          <!-- Pie Chart -->
          <canvas id="pieChart" style="max-height: 400px;"></canvas>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#pieChart'), {
                type: 'pie',
                data: {
                  labels: [
                    {% for i in most_sold %}
                    '{{ i.0 }}' ,
                    {% endfor %}
                  ],
                  datasets: [{
                    label: 'My First Dataset',
                    data: [
                    {% for i in most_sold %}
                    {{ i.1 }} ,
                    {% endfor %}
                    ],
                    backgroundColor: [
                      'rgb(255, 99, 132)',
                      'rgb(54, 162, 235)',
                      'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                  }]
                }
              });
            });
          </script>
          <!-- End Pie CHart -->

        </div>
      </div>
    </div>
        
    </section>

  </main><!-- End #main -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function() {
        $('#dateForm button').click(function() {
            var clickedButton = $(this).attr('name');
            
            // Find the CSRF token input within the form
            var csrfToken = $('#dateForm').find('input[name="csrfmiddlewaretoken"]').val();
            
            $.ajax({
                type: 'POST',
                url: 'datefilter_dashboard/',  
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    button: clickedButton
                },
                success: function(response) {
                  $('.orderss').text(response.no_of_orders);
                  $('.revenuee').html('&#8377;' + response.total_revenue);
                  $('.profit_total').html('&#8377;<b>' + response.total_profit + '</b>');
                    console.log(response);
                },
                error: function(error) {
                    alert('haalloowwwwwwwwwwwww')
                }
            });
        });
    });
</script>


  {% endblock content %}