{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %}Products{% endblock title %}
{% block products %}{% endblock products %}
{% block content %}

<!-- Include SweetAlert library and jQuery -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static "your-other-javascript-file.js" %}"></script>

<style>
    .table td,{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Products</h1>
            </div>
            <div class="col-md-6 text-end">
                <div class="addproductbutton">
                    <a href="{% url "add_products" %}" class="btn btn-dark mt-2">Add Products</a>
                </div>
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Products</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <!-- Recent Sales -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <table class="table table-borderless mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Variand Details</th>
                            <th>Unlist</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in products %}
                        <tr class="align-middle">
                            <td>{{prod.id}}</td>
                            <td class="align-middle">
                                <img src="{{ prod.productimage_set.first.image.url }}" alt="{{ prod.name }}" width="100" height="100">
                            </td>
                            <td class="align-middle">
                                {{prod.name}}
                            </td>
                            <td class="align-middle">
                                {{prod.category.name}}
                            </td>
                            <td class="align-middle">
                                &#8377;{{prod.price}}
                            </td>
                            <td class="align-middle">
                                <a href='product_varient/{{prod.id}}' type="button" class="btn btn-sm btn-secondary">View Details</a>
                            </td>
                            <td class="align-middle">
                                <a class="badge btn btn-sm bg-danger" href="#" onclick="handleDeleteClick('{{ prod.name }}', {{ prod.id }})">
                                    Unlist
                                </a>
                            </td>
                            <td class="align-middle">
                                <a class="badge btn btn-warning" href="edit_product/{{prod.id}}">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- End Recent Sales -->

</main><!-- End #main -->

<!-- Include SweetAlert library and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<script>
    // JavaScript function to handle the delete action
    function handleDeleteClick(productName, productId) {
        // Show the SweetAlert dialog
        swal({
            title: `Are you sure you want to delete ${productName}?`,
            text: "",
            icon: "warning",
            buttons: {
                cancel: "No, cancel plx!",
                confirm: {
                    text: "Yes, delete it!",
                    value: true,
                    visible: true,
                    className: "bg-danger",
                    closeModal: false,
                },
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                // Handle the delete action with an AJAX request
                $.ajax({
                    type: 'POST',
                    url: `/soft_delete_product/${productId}/`,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        swal("Deleted!", `The product ${productName} has been soft-deleted.`, {
                            icon: "success",
                        }).then(() => {
                            // Redirect to a URL after successful deletion
                            window.location.href = 'admin_products';
                        });
                    },
                    error: function (error) {
                        swal("Error", "An error occurred while deleting the product.", {
                            icon: "error",
                        });
                    },
                });
            } else {
                swal("Cancelled", `Your ${productName} is safe :)`, {
                    icon: "error",
                });
            }
        });
    }
    
</script>


{% endblock content %}
