{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Products{% endblock title %}
{% block products %}{% endblock products %}
{% block content %}

<style>
    th, td {
        vertical-align: middle; /* Vertically center the content within table cells */
    }
</style>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Products</h1>
            </div>
            <div class="col-md-6 text-end">
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item">Products</li>
                <li class="breadcrumb-item active">Product variants</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <table class="table table-borderless mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Size</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for size_variant in product.sizevariant_set.all %}
                                <tr>
                                    <td>{{ size_variant.id }}</td>
                                    <td>
                                        <img src="{{ size_variant.product.productimage_set.first.image.url }}" alt="{{ size_variant.product.name }}" width="100" height="100">
                                    </td>
                                    <td>{{ size_variant.product.name }}</td>
                                    <td>{{ size_variant.size }}</td>
                                    <td>
                                        {% if size_variant.quantity > 0 %}
                                            {{ size_variant.quantity }}
                                        {% else %}
                                            <div class="text-danger" >Out of Stock</div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    

                </div>

            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->
{% endblock content %}