{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Products{% endblock title %}
{% block products %}{% endblock products %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Products</h1>
            </div>
            <div class="col-md-6 text-end">
                <div class="addproductbutton">
                    <a href="{% url "add_products" %}" class="btn btn-dark mt-2">Add Products</a>
                </div>
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Products</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <table class="table table-borderless mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>size</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>List / Unlist</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
            
                        {% for prod in products %}
                            <tr>
                                <td>{{prod.id}}</td>
                                <td>{{prod.name}}</td>
                                <td>{{prod.category.name}}</td>
                                <td>{{prod.brands.name}}</td>
                                <td>&#8377;{{prod.price}}</td>
                                <td>{{prod.quantity}}</td>
                                {% if prod.is_listed %}
                                <td><a href='product_status/{{prod.id}}'><span class="badge bg-danger">Unlist</span></a></td>
                                {% else %}
                                <td><a href='product_status/{{prod.id}}'><span class="badge bg-success">List</span></a></td>
                                {% endif %}
                                <td style='font-size:20px'><i class="bi bi-pencil-square text-warning">&nbsp;&nbsp;&nbsp;</i><i class="bi bi-trash-fill text-danger"></i></td>

                            </tr>

                        
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->
{% endblock content %}