{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %}Trash Products{% endblock title %}
{% block trash %} {% endblock trash %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Trash Products</h1>
            </div>
            <div class="col-md-6 text-end">
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Trash Products</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <!-- Recent Sales -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">

            <div class="card-body">
                <table class="table table-borderless mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Product Details</th>
                            <th>Restore</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in products %}
                        <tr class="align-middle">
                            <td>{{prod.id}}</td>
                            <td class="align-middle">
                                <img src="{{ prod.productimage_set.first.image.url }}" alt="{{ prod.name }}" width="100" height="100">
                            </td>
                            <td class="align-middle">{{prod.name}}</td>
                            <td class="align-middle">{{prod.category.name}}</td>
                            <td class="align-middle">&#8377;{{prod.price}}</td>
                            <td class="align-middle">
                                <a href="product_varient/{{prod.id}}" type="button" class="btn btn-sm btn-secondary">View Details</a>
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-sm btn-success" href="#" onclick="handleRestoreClick('{{ prod.name }}', {{ prod.id }})"><span class="badge">Restore</span></a>
                            </td>                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- End Recent Sales -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        // JavaScript function to handle the restore action
        function handleRestoreClick(productName, productId) {
            // Show the SweetAlert dialog
            swal({
                title: `Are you sure you want to restore ${productName}?`,
                text: "",
                icon: "warning",
                buttons: {
                    cancel: "No, cancel plx!",
                    confirm: {
                        text: "Yes, restore it!",
                        value: true,
                        visible: true,
                        className: "bg-success", // Set a different class for success
                        closeModal: false,
                    },
                },
                dangerMode: false, // Not a dangerous action
            })
            .then((willRestore) => {
                if (willRestore) {
                    // Handle the restore action with an AJAX request
                    $.ajax({
                        type: 'POST',
                        url: `/restore_product/${productId}/`, // Change the URL as needed
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            swal("Restored!", `The product ${productName} has been restored.`, {
                                icon: "success",
                            }).then(() => {
                                // Redirect to a URL after successful restoration
                                window.location.href = '/admin_trash/'
                            });
                        },
                        error: function (error) {
                            swal("Error", "An error occurred while restoring the product.", {
                                icon: "error",
                            });
                        },
                    });
                } else {
                    swal("Cancelled", `Your ${productName} remains soft-deleted.`, {
                        icon: "error",
                    });
                }
            });
        }
        
    </script>
    
</main><!-- End #main -->


{% endblock content %}
