body {
    color: #F7F7F7;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.form-control {
    min-height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control,
.btn {
    border-radius: 5px;
}

.signup-form {
    width: 350px;
    text-align: center;
    padding: 30px;
}

.signup-form h2 {
    margin: 10px 0 25px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #0e1111;
    border: none;
    outline: none !important;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
    background: #000000;
}

.signup-form a {
    color: #000;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #000;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

.login_botten_tag {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
    .signup-form {
        width: 80%;
    }
}

.hai {
    padding-left: 10% !important;
    padding-bottom: 5% !important;
}
.signup-form {
    margin-left: 20px; 
}
.form-control {
    border-radius: 10px; 
    margin-bottom: 10px; 
}
@media (max-width: 1000px) {
    .hihi {
        display: none !important; 
    }
}
.input-with-border {
    border: 1px solid black;
}
.sizeForImage{
    width: 75vh;
}
.hihii{
    width: 100vh;
}