{% extends 'user_side/base.html' %}
{% load static %}
{% block title %} About{% endblock title %}
{% block content %}

<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Your Cart
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        
        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="images/item-cart-01.jpg" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            White Shirt Pleat
                        </a>

                        <span class="header-cart-item-info">
                            1 x $19.00
                        </span>
                    </div>
                </li>

                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="images/item-cart-02.jpg" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            Converse All Star
                        </a>

                        <span class="header-cart-item-info">
                            1 x $39.00
                        </span>
                    </div>
                </li>

                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="images/item-cart-03.jpg" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            Nixon Porter Leather
                        </a>

                        <span class="header-cart-item-info">
                            1 x $17.00
                        </span>
                    </div>
                </li>
            </ul>
            
            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Total: $75.00
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static "user_home/images/about.png" %});">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Shoecart: Stepping into the Future of Footwear E-Commerce

                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        In the vibrant landscape of Calicut, Kerala, a revolutionary startup is making strides in the world of e-commerce – Shoecart. This enterprising venture is not just about selling shoes; it's about embracing a culture of comfort, style, and quality. As a company that hails from the historic city of Calicut, Shoecart carries the essence of tradition, craftsmanship, and innovation in its DNA.                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Shoecart is more than just an online marketplace for shoes; it's a destination for those seeking the perfect combination of fashion and function. The company offers a wide range of footwear options, from elegant formal shoes to sporty sneakers, each carefully selected to cater to the diverse tastes of our discerning customers. Quality is our mantra, and we work closely with renowned manufacturers to ensure that every pair of shoes meets the highest standards.                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        With a commitment to craftsmanship and a passion for comfort and style, Shoecart is poised to leave a lasting footprint in the world of footwear e-commerce.                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{% static "user_home/images/about2.png" %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Shoecart's Mission: Putting Your Best Foot Forward
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        At Shoecart, our mission is clear and unwavering: we are dedicated to helping our customers put their best foot forward, both in style and comfort. As a startup based in Calicut, Kerala, we understand the importance of quality footwear that not only enhances your fashion statement but also supports your daily activities. Our mission is driven by the belief that everyone deserves access to shoes that reflect their unique personality and lifestyle.                    </p>
                        <br>
                        We are committed to sourcing and curating a wide range of shoes that cater to diverse tastes and needs, ensuring that each pair offers the perfect blend of fashion, durability, and affordability. We take pride in promoting the local craftsmanship of Calicut, supporting artisans and small-scale manufacturers, and fostering community growth.
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            "The journey of a thousand miles begins with a fabulous pair of shoes."                        </p>

                        <span class="stext-111 cl8">
                            — Unknown
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{% static "user_home/images/about3.png" %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	
{% endblock %}