{% extends 'user_side/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block content %}

<main class="main">
    <div class="page-header text-center m-t-65">
      <div class="container">
        <h1 class="page-title text-dark">Checkout</h1>
      </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">Shopping Cart</li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
  
    <div class="page-content">
      <div class="cart mb-5">
        <div class="container">
          <div class="row">
           
            <div class="col-md-8 cart-item-box">
              <h5 class="text-dark mb-3">1. &nbsp; Select a delivery address</h5>
          
              {% if addresses %}
                  <a href="{% url 'checkout_address' %}">
                      <div class="d-flex justify-content-end mr-3">
                          <button type='button' class="btn btn-dark" id="addAddressBtn">Add New Address</button>
                      </div>
                  </a>
                  {% comment %} <form method="post" id="addressForm"> {% endcomment %}
                  {% for address in addresses|slice:":2" %}
                  <div class="address-container" style="border: 1px solid #333; margin: 10px; padding: 20px; color: black;">
                      <div style="margin-bottom: 10px;">
                          <input type="radio" name="selected_address" value="{{ address.id }}" id="address_{{ address.id }}" {% if forloop.counter == 1 %}checked{% endif %}>
                          <label for="address_{{ address.id }}">
                              <span style="font-weight: bold;">Address {{ forloop.counter }}:</span>
                              {{ address.full_name }} <br>
                              {{ address.mobile_number }} <br>
                              {{ address.address_line }}, {{ address.city }}, {{ address.state }}, {{ address.pincode }}<br>
                          </label>
                      </div>
                      <div class="d-flex justify-content-end">
                          <a href="../checkout_update_address/{{ address.id }}" class="btn-primary" id="editAddressBtn_{{ address.id }}" style="font-size: 12px; width: 65px; margin-right: 10px; text-align: center; display: inline-block; line-height: 1.5;">Edit</a>
                      </div>
                  </div>
                  {% endfor %}
          
                  {% if addresses|length > 2 %}
                  <div class="text-center d-flex justify-content-end mr-3 ">
                    <button type="button" class="btn btn-" id="chooseOtherAddressBtn" style="display: none; display: flex; justify-content: end; align-items: center;">
                      Other
                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M2 334.5c-3.8 8.8-2 19 4.6 26l136 144c4.5 4.8 10.8 7.5 17.4 7.5s12.9-2.7 17.4-7.5l136-144c6.6-7 8.4-17.2 4.6-26s-12.5-14.5-22-14.5l-72 0 0-288c0-17.7-14.3-32-32-32L128 0C110.3 0 96 14.3 96 32l0 288-72 0c-9.6 0-18.2 5.7-22 14.5z"/></svg>
                  </button>
                  </div>
                  {% endif %}
          
                  <div id="otherAddresses" style="display: none;">
                      {% for address in addresses|slice:"2:" %}
                      <div class="address-container" style="border: 1px solid #333; margin: 10px; padding: 20px; color: black;">
                          <div style="margin-bottom: 10px;">
                              <input type="radio" name="selected_address" value="{{ address.id }}" id="address_{{ address.id }}">
                              <label for="address_{{ address.id }}">
                                  <span style="font-weight: bold;">Address:</span>
                                  {{ address.full_name }} <br>
                                  {{ address.mobile_number }} <br>
                                  {{ address.address_line }}, {{ address.city }}, {{ address.state }}, {{ address.pincode }}<br>
                              </label>
                          </div>
                          <div class="d-flex justify-content-end">
                              <a href="../checkout_update_address/{{ address.id }}" class="btn-primary" id="editAddressBtn_{{ address.id }}" style="font-size: 12px; width: 65px; margin-right: 10px; text-align: center; display: inline-block; line-height: 1.5;">Edit</a>
                          </div>
                      </div>
                      {% endfor %}
                      <div class="d-flex justify-content-end mr-3">
                          <button type="button" class="btn btn-secondery" id="closeOtherAddressesBtn" style="display: none;">Close Addresses<i class="fa-solid fa-x" style="color: #000000;"></i></button>
                      </div>
                  </div>
          
              {% else %}
                  <!-- Display add address button with an image when there are no addresses -->
                  <div class="text-center">
                    <img src="{% static 'user_home/images/address.png' %}" alt="No Address Image" style="height: 35rem; display: block; margin: 0 auto;display: flex; justify-content: end; align-items: center;">
                    <p>No addresses available. Add a new address.</p>
                    <a href="{% url 'checkout_address' %}">
                        <button type="button" class="btn btn-dark" id="addAddressBtn">Add New Address</button>
                    </a>
                </div>
                
              {% endif %}
          
          
            {% comment %} </form> {% endcomment %}
            
            </div><!-- End .col-lg-9 -->
  
            <aside class="col-lg-3">
                <div class="summary">
                  <h3 class="summary-title">Your Order</h3>
                  <!-- End .summary-title -->
                  <table class="table table-summary">
                    <thead>
                      <tr>
                         <th>Product</th>
                        <th>Total</th> 
                      </tr>
                    </thead>
                    <tbody>
                        {% for o in obj %}
                      <tr>
                      <td>
                          <a>
                            {{o.size_variant.product.name}} - [{{o.size_variant.size}}]
                          </a>
                        </td>
                        <td>
                         {{ o.quantity }}  x  {{o.size_variant.price}}
                        </td> 
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td id="total1">
                        {{ total }}
                      </td>
                    </tr>
                    <!-- End .summary-subtotal -->
                    <tr>
                      <td>Shipping:</td>
                      <td>Free shipping</td>
                    </tr>
                    <tr class="summary-total">
                      <td>Total:</td>
                      <td id="total1">
                       {{ total }}
                      </td>
                    </tr>
                    <!-- End .summary-total -->
                  </table>
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input required type="radio" id="COD" name="payment" value="COD" checked/>
                    </div>
                    <a href="" class="d-block text-dark" for="pay1">Cash On Delivery</a>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input required type="radio" id="payment" name="payment" value="onlinePayment" checked />
                    </div>
                    <a href="" class="d-block text-dark" for="pay2">Online Payment</a>
                  </div> 
                 <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input required type="radio" id="wallet" name="payment" value="wallet" />
                    </div>
                    <a href="" class="d-block text-dark" for="pay3">Wallet</a>
                  </div> 
                  <button type="" id="placeOrderButton" class="btn btn-outline-primary-2 btn-order btn-block">
                    <span class="btn-text">Place Order</span>
                    <span class="btn-hover-text">Proceed to Checkout</span>
				          </button>
				
                </div>
                <!-- End .summary -->
              </aside>
          </div><!-- End .row -->
        </div><!-- End .container -->
      </div><!-- End .cart -->
    </div><!-- End .page-content -->
  </main><!-- End .main -->
  <link rel="stylesheet" href="{% static "user_profile//assets/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "user_profile/assets/css/style.css" %}">
{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

      $(document).ready(function() {
        $("#placeOrderButton").on("click", function() {
            console.log("Button Clicked!");

            // Your existing code
            console.log("clicked");
            var address = $("input[name=selected_address]:checked").val();
            var total = $("#total1").text();
            var payment = $("input[name=payment]:checked").val();
            console.log('button clicked');
            console.log(address, "address");

            console.log('Before AJAX request');
            // Get the CSRF token
            var csrf_token = $("[name=csrfmiddlewaretoken]").val();

            // Send the data using jQuery AJAX
            $.ajax({
                type: "POST",
                url: "/place_order/",
                data: {
                    total: total,
                    address: address,
                    payment: payment,
                    csrfmiddlewaretoken: csrf_token,
                },
                success: function(response) {
                    console.log("entered");
                    if (response && response.success === true) {
                        console.log("orderPag");
                        window.location.href = '/order_page/';
						console.log("entereddddddddddddddd");
                    } else {
                        if (response && response.insufficient_balance === true) {
                            // Show SweetAlert for insufficient balance
							console.log("alerttttttttttttttt");
                            swal.fire({
								position: "center",
								icon: "error",
								title: "Insufficient balance in the wallet",
								showConfirmButton: false,
								timer: 1500,
								customClass: {
									popup: 'swal-custom-size',
								},
							});
                        } else {
                            // Show SweetAlert for other errors
                            console.log('Order object:', response.razorpay_order);
                            razorPayment(response.razorpay_order);
                        }
                    }
                }
            });
            console.log('After AJAX request');
        });
    });


    function razorPayment(razorpay_order) {
		console.log("Entered razorPayment");
		console.log("Order object:", razorpay_order);
	
		// Check if amount is present in the order object
		if (razorpay_order && razorpay_order.amount !== undefined) {
			console.log("amount is present:", razorpay_order.amount);
	
			var options = {
				key: "rzp_test_F83XKwHAQwFDZG",
				amount: razorpay_order.amount,
				currency: "INR",
				name: "Shoe Cart Pvt.Ltd",
				description: "Test Transaction",
				
				order_id: razorpay_order.razorpay_order_id,

				handler: function (response) {
					console.log("Razorpay handler response:", response);
					verifyPayment(response, razorpay_order);
				},
				prefill: {
					name: "Shoe Cart Pvt.Ltd",
					email: "shoecartcalicut@gmail.com",
					contact: "9230566487",
				},
				notes: {
					address: "Razorpay Corporate Office",
				},
				theme: {
					color: "#2F4F4F",
				},
			};
	
			var rzp1 = new Razorpay(options);
			rzp1.open();
		} else {
			console.log("Complete order object:", razorpay_order); // Log the complete order object
		}
	}
	

    function verifyPayment(payment, razorpay_order) {
		var csrf_token = $("[name=csrfmiddlewaretoken]").val();

        const amount2 = document.getElementById("total1").innerHTML;
		console.log("entered verifyPayment")
        $.ajax({
            url: "/verifyPayment/",
            type : "POST",
            data: {
                payment: payment,
                amount2: amount2,
                razorpay_order: razorpay_order,
				csrfmiddlewaretoken: csrf_token,  // Include the CSRF token

            },
            success: (response) => {
                if (response.success == true) {
                    window.location.href = '/order_page';
                } else {
                    swal.fire({
                        positon: "center",
                        icon: "error",
                        title: "Payment failed",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                }
            },
        });
    }
</script>

<script>
  document.getElementById('chooseOtherAddressBtn').addEventListener('click', function () {
      document.getElementById('otherAddresses').style.display = 'block';
      this.style.display = 'none';
      document.getElementById('closeOtherAddressesBtn').style.display = 'inline-block';
  });

  document.getElementById('closeOtherAddressesBtn').addEventListener('click', function () {
      document.getElementById('otherAddresses').style.display = 'none';
      document.getElementById('chooseOtherAddressBtn').style.display = 'inline-block';
      this.style.display = 'none';
  });
</script>


 
{% endblock %}