{% extends 'user_side/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block content %}

<main class="main">
    <div class="page-header text-center m-t-85">
      <div class="container">
        <h1 class="page-title text-dark">Checkout</h1>
      </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">Shopping Cart</li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
  
    <div class="page-content">
      <div class="cart mb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 cart-item-box">
              <h5 class="text-dark mb-3">1. &nbsp; Select a delivery address</h5>
              <a href="{% url "checkout_address" %}">

                <div class="d-flex justify-content-end mr-3">
                    <button type='button' class="btn btn-dark" id="addAddressBtn">Add New Address</button>
                </div>
            </a>
            {% comment %} <form method="post" id="addressForm"> {% endcomment %}
                {% for address in addresses %}
                <div class="address-container" style="border: 1px solid #333; margin: 10px; padding: 20px; color: black;">
                    <div style="margin-bottom: 10px;">
                        <input type="radio" name="selected_address" value="{{ address.id }}" id="address_{{ address.id }}" {% if forloop.counter == 1  %}checked{% endif %}>
                        <label for="address_{{ address.id }}">
                            <span style="font-weight: bold;">Address {{ forloop.counter }}:</span>
                            {{ address.full_name }} <br>
                            {{ address.mobile_number }} <br>
                            {{ address.address_line }}, {{ address.city }}, {{ address.state }}, {{ address.pincode }}<br>
                        </label>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="../checkout_update_address/{{ address.id }}" class="btn-primary" id="editAddressBtn_{{ address.id }}" style="font-size: 12px; width: 65px; margin-right: 10px; text-align: center; display: inline-block; line-height: 1.5;">Edit</a>                
                    </div>
                </div>
                {% endfor %}
            {% comment %} </form> {% endcomment %}
            
            </div><!-- End .col-lg-9 -->
  
            <aside class="col-lg-3">
                <div class="summary">
                  <h3 class="summary-title">Your Order</h3>
                  <!-- End .summary-title -->
                  <table class="table table-summary">
                    <thead>
                      <tr>
                         <th>Product</th>
                        <th>Total</th> 
                      </tr>
                    </thead>
                    <tbody>
                        {% for o in obj %}
                      <tr>
                      <td>
                          <a>
                            {{o.size_variant.product.name}} - [{{o.size_variant.size}}]
                          </a>
                        </td>
                        <td>
                         {{ o.quantity }}  x  {{o.size_variant.price}}
                        </td> 
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td id="total1">
                        {{ total }}
                      </td>
                    </tr>
                    <!-- End .summary-subtotal -->
                    <tr>
                      <td>Shipping:</td>
                      <td>Free shipping</td>
                    </tr>
                    <tr class="summary-total">
                      <td>Total:</td>
                      <td id="total1">
                       {{ total }}
                      </td>
                    </tr>
                    <!-- End .summary-total -->
                  </table>
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input required type="radio" id="COD" name="payment" value="COD" checked/>
                    </div>
                    <a href="" class="d-block text-dark" for="pay1">Cash On Delivery</a>
                  </div>
                  <!-- <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input required type="radio" id="payment" name="payment" value="onlinePayment" checked />
                    </div>
                    <a href="" class="d-block text-dark" for="pay2">Online Payment</a>
                  </div> -->
                  <!-- <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input required type="radio" id="wallet" name="payment" value="wallet" />
                    </div>
                    <a href="" class="d-block text-dark" for="pay3">Wallet</a>
                  </div> -->
                  <button type="" id="placeOrderButton" class="btn btn-outline-primary-2 btn-order btn-block">
					<span class="btn-text">Place Order</span>
					<span class="btn-hover-text">Proceed to Checkout</span>
				</button>
				
                </div>
                <!-- End .summary -->
              </aside>
          </div><!-- End .row -->
        </div><!-- End .container -->
      </div><!-- End .cart -->
    </div><!-- End .page-content -->
  </main><!-- End .main -->
  <link rel="stylesheet" href="{% static "user_profile//assets/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "user_profile/assets/css/style.css" %}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
  var csrf_token = "{{ csrf_token }}";
  $(document).ready(function () {
      $('#placeOrderButton').click(function (event) {
          event.preventDefault();

          var selectedAddress = $("input[name='selected_address']:checked").val();
          var selectedPayment = $("input[name='payment']:checked").val();

          if (selectedAddress && selectedPayment) {
              var data = {
                  csrfmiddlewaretoken: csrf_token,
                  selected_address: selectedAddress,
                  payment: selectedPayment
              };

              $.ajax({
                  type: 'POST',
                  url: '/place_order/',
                  data: data,
                  success: function (response) {
                      // Check if the server response indicates success
                      if (response.success) {
                          // Show a success message to the user
                          //alert('Order placed successfully. Your order ID is ' + response.order_id);

                          // Redirect the user to a success page
                          window.location.href = '/order_page/';
                      } else {
                          // Show an error message to the user
                          alert('Error: ' + response.message);
                      }
                  },
                  error: function (xhr, textStatus, error) {
                      // Handle any Ajax errors here, e.g., network issues or server errors
                      console.error('Ajax request failed:', error);

                      // Show a generic error message to the user
                      alert('An error occurred while placing the order. Please try again.');
                  }
              });
          } else {
              alert("Please select an address and payment method.");
          }
      });
  });
</script>



</script>

 
{% endblock %}