{% extends 'user_side/base.html' %}
{% load static %}
{% block title %} Product Details{% endblock title %}
{% block content %}

<style>
.my-button {
    border: 1px solid #343a40;
    color: #000;
    background-color: transparent;
    margin-right: 10px;
    padding: 10px 20px;
}
.my-button:hover {
    background-color: #717FDF; 
    color: #fff;
}
/* Default button style */
.size-variant-button {
    background-color: #your-default-color;
    color: #your-default-text-color;
}

/* Style for clicked button */
.size-variant-button.clicked {
    background-color: #your-clicked-color;
    color: #your-clicked-text-color;
}


</style>

<body class="animsition">
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src={% static "user_home/images/icons/logo-01.png" %} alt="IMG-LOGO"></a>
			</div>

		

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="{% static "user_home/images/icons/icon-close2.png" %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	{% comment %} <!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src={% static "user_home/images/item-cart-01.jpg" %} alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src={% static "user_home/images/item-cart-02.jpg" %} alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static "user_home/images/item-cart-03.jpg" %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> {% endcomment %}


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				Product Details
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				
			</span>
		</div>
	</div>
		

	
	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
							<div class="slick3 gallery-lb">
								{% for img in images %}
								<div class="item-slick3" data-thumb={{ img.image.url }}>
									<div class="wrap-pic-w pos-relative main-image-{{ forloop.counter0 }}">
										<div class="product-image">
											<img id="main-img-{{ forloop.counter0 }}" src="{{img.image.url}}" alt="IMG-PRODUCT">
										  </div>
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ img.image.url }}">
											<i class="fa fa-expand"></i>
										</a>	
									</div>
								</div> 
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14 mt-4">
							{{ k.name }}
						</h4>

						<span class="mtext-106 cl2">
							&#8377;<span class="dynamic-price">{{variant.price}}
							</span>
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{k.description }}
						</p>
						
						<!--  -->
						<div class="p-t-33">
							{% csrf_token %}
							<div class="pl-5 pl-5 pb-3 pt-3" role="group" aria-label="Basic example">
								{% for size_variant in sizes %}
									{% if size_variant.quantity > 0 %}
										<button type="button" class="btn my-button in-stock size-variant-button"
											data-variant-id="{{ size_variant.id }}"
											data-variant-size="{{ size_variant.size }}">
											{{ size_variant.size }}
										</button>
									{% else %}
										<button type="button" class="btn my-button out-of-stock size-variant-button"
											style="background-color: #bcbcbc; color: black;" disabled>
											{{ size_variant.size }}
										</button>
									{% endif %}
								{% endfor %}
							</div>
							
											
							
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<button class="mt-3 lex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">Add to cart</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>


			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								{% for d in details %}
								<p class="stext-102 cl6">
									{{d.description }}
								</p>
								{% endfor %}
							</div>
						</div>

						<!-- - -->
						

						<!-- - -->
						<div class="tab-pane fade" id="reviews" role="tabpanel">
							<div class="tab-pane fade show active" id="description" role="tabpanel">
								<div class="how-pos2 p-lr-15-md">
									
									<p class="stext-102 cl6">
										this is the review section for the product.here will be all the customer review will be displayed .here is the possition to display the messages and chats about the product 
									</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	
		
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static "user_home/images/icons/icon-close.png" %}" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots">
									
								</div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="{% static "user_home/images/product-detail-01.jpg" %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static "user_home/images/product-detail-01.jpg" %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static "user_home/images/product-detail-01.jpg" %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="{% static "user_home/images/product-detail-02.jpg" %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static "user_home/images/product-detail-02.jpg" %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static "user_home/images/product-detail-02.jpg" %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick" data-thumb="{% static "user_home/images/product-detail-03.jpg" %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static "user_home/images/product-detail-03.jpg" %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static "user_home/images/product-detail-03.jpg" %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src={% static "user_home/vendor/jquery/jquery-3.2.1.min.js" %}></script>
	<script src={% static "user_home/vendor/animsition/js/animsition.min.js" %}></script>
	<script src={% static "user_home/vendor/bootstrap/js/popper.js" %}></script>
	<script src={% static "user_home/vendor/bootstrap/js/bootstrap.min.js" %}></script>
	<script src={% static "user_home/vendor/select2/select2.min.js" %}></script>
	<script src={% static "user_home/vendor/daterangepicker/moment.min.js" %}></script>
	<script src={% static "user_home/vendor/daterangepicker/daterangepicker.js" %}></script>
	<script src={% static "user_home/vendor/slick/slick.min.js" %}></script>
	<script src={% static "user_home/js/slick-custom.js" %}></script>
	<script src={% static "user_home/vendor/parallax100/parallax100.js" %}></script>
	<script src={% static "user_home/vendor/isotope/isotope.pkgd.min.js" %}></script>
	<script src={% static "user_home/vendor/sweetalert/sweetalert.min.js" %}></script>
	<script src={% static "user_home/vendor/perfect-scrollbar/perfect-scrollbar.min.js" %}></script>
	<script src={% static "user_home/vendor/MagnificPopup/jquery.magnific-popup.min.js" %}></script>
	<script src={% static "user_home/js/main.js" %}></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		// Add click event listeners to size variant buttons
		var sizeVariantButtons = document.querySelectorAll('.size-variant-button');
		sizeVariantButtons.forEach(function(button) {
			button.addEventListener('click', function() {
				// Remove 'selected' class from all buttons
				sizeVariantButtons.forEach(function(btn) {
					btn.classList.remove('selected');
				});
	
				// Add 'selected' class to the clicked button
				button.classList.add('selected');
			});
		});
	
		// Function to handle the "Add to cart" button click
		document.querySelector('.js-addcart-detail').addEventListener('click', function() {
			var selectedSizeVariantButton = document.querySelector('.size-variant-button.selected');
	
			if (selectedSizeVariantButton) {
				var selectedSizeVariantId = selectedSizeVariantButton.getAttribute('data-variant-id');
				var token = $('input[name=csrfmiddlewaretoken]').val();
	
				// Make an AJAX request to add the selected size variant to the cart
				$.ajax({
					url: '../add_to_cart', // Replace with your actual backend endpoint
					type: 'POST',
					data: {
						variantId: selectedSizeVariantId,
						csrfmiddlewaretoken: token,
					},
					success: function(response) {
						if (response.success) {
							Swal.fire({
							  title: 'Item Added to Cart',
							  text: 'Your item has been added to the cart.',
							  icon: 'success',
							});
							// Update the badge count
							var cartIcon = $('.js-show-cart');
							cartIcon.attr('data-notify', response.cart_count_ajax);


						  } else {
							Swal.fire({
							  title: 'Error',
							  text: 'Already in cart',
							  icon: 'error',
							});
						  }
						console.log('Product added to cart successfully');
					},
					error: function(error) {
						// Handle any errors, e.g., display an error message
						console.error('Error adding product to cart');
					}
				});
			} else {
				alert('Please select a size variant before adding to cart.');
			}
		});
	</script>
	

	<script>
	
		// Handle the click event for size variant buttons
		$('.size-variant-button.in-stock').on('click', function() {
			var variantId = $(this).data('variant-id');
			// Make an AJAX request to fetch the price
			$.ajax({
				type: 'GET',
				url: '/get_variant_details/' + variantId + '/', // Replace with the actual URL
				dataType: 'json',
				success: function(data) {
					// Update the dynamic price display with the fetched price
					$('.dynamic-price').text(data.price);
				},
				error: function(xhr, status, error) {
					console.error('Error fetching price:', error);
				}
			});
	
			// Change the color of the clicked button to black and text color to white
			$(this).addClass('selected-variant');
			$(this).css('background-color', 'black');
			$(this).css('color', 'white');
	
			// Remove the black color and white text color from other buttons
			$('.size-variant-button.in-stock').not(this).removeClass('selected-variant');
			$('.size-variant-button.in-stock').not(this).css('background-color', '');
			$('.size-variant-button.in-stock').not(this).css('color', '');
		});
	</script>
	
	
	
	
	
	
	<script>
		// Zoom 0
{
	const mainImage = document.querySelector('.main-image-0');
	const img = document.getElementById('main-img-0');
  
	mainImage.addEventListener('mousemove', zoomIn);
	mainImage.addEventListener('mouseleave', zoomOut);
  
	function zoomIn(event) {
	  const boundingRect = mainImage.getBoundingClientRect();
	  const mouseX = event.clientX - boundingRect.left;
	  const mouseY = event.clientY - boundingRect.top;
  
	  const offsetX = (mouseX / boundingRect.width) * 100;
	  const offsetY = (mouseY / boundingRect.height) * 100;
  
	  img.style.transformOrigin = `${offsetX}% ${offsetY}%`;
	  img.style.transform = 'scale(2)'; // Adjust the scale factor as desired
	}
  
	function zoomOut() {
	  img.style.transform = 'scale(1)';
	}
  }
  
  // Zoom 1
  {
	const mainImage1 = document.querySelector('.main-image-1');
	const img1 = document.getElementById('main-img-1');
  
	mainImage1.addEventListener('mousemove', zoomIn1);
	mainImage1.addEventListener('mouseleave', zoomOut1);
  
	function zoomIn1(event) {
	  const boundingRect1 = mainImage1.getBoundingClientRect();
	  const mouseX1 = event.clientX - boundingRect1.left;
	  const mouseY1 = event.clientY - boundingRect1.top;
  
	  const offsetX1 = (mouseX1 / boundingRect1.width) * 100;
	  const offsetY1 = (mouseY1 / boundingRect1.height) * 100;
  
	  img1.style.transformOrigin = `${offsetX1}% ${offsetY1}%`;
	  img1.style.transform = 'scale(2)'; // Adjust the scale factor as desired
	}
  
	function zoomOut1() {
	  img1.style.transform = 'scale(1)';
	}
  }
  
  // Zoom 2
  {
	const mainImage2 = document.querySelector('.main-image-2');
	const img2 = document.getElementById('main-img-2');
  
	mainImage2.addEventListener('mousemove', zoomIn2);
	mainImage2.addEventListener('mouseleave', zoomOut2);
  
	function zoomIn2(event) {
	  const boundingRect2 = mainImage2.getBoundingClientRect();
	  const mouseX2 = event.clientX - boundingRect2.left;
	  const mouseY2 = event.clientY - boundingRect2.top;
  
	  const offsetX2 = (mouseX2 / boundingRect2.width) * 100;
	  const offsetY2 = (mouseY2 / boundingRect2.height) * 100;
  
	  img2.style.transformOrigin = `${offsetX2}% ${offsetY2}%`;
	  img2.style.transform = 'scale(2)'; // Adjust the scale factor as desired
	}
  
	function zoomOut2() {
	  img2.style.transform = 'scale(1)';
	}
  }
  
  // Zoom 3
  {
	const mainImage3 = document.querySelector('.main-image-3');
	const img3 = document.getElementById('main-img-3');
  
	mainImage3.addEventListener('mousemove', zoomIn3);
	mainImage3.addEventListener('mouseleave', zoomOut3);
  
	function zoomIn3(event) {
	  const boundingRect3 = mainImage3.getBoundingClientRect();
	  const mouseX3 = event.clientX - boundingRect3.left;
	  const mouseY3 = event.clientY - boundingRect3.top;
  
	  const offsetX3 = (mouseX3 / boundingRect3.width) * 100;
	  const offsetY3 = (mouseY3 / boundingRect3.height) * 100;
  
	  img3.style.transformOrigin = `${offsetX3}% ${offsetY3}%`;
	  img3.style.transform = 'scale(2)'; // Adjust the scale factor as desired
	}
  
	function zoomOut3() {
	  img3.style.transform = 'scale(1)';
	}
  }
  
	</script>
	<script>
		$(document).ready(function() {
			$(".js-select2").select2({
				minimumResultsForSearch: 20,
				dropdownParent: function (container) {
					return container.next('.dropDownSelect2');
				}
			});
		});
	</script>
	<script>
        $('.parallax100').parallax100();
	</script>

	<script>
		$('.gallery-lb').each(function() { 
			$(this).magnificPopup({
		        delegate: 'a',
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		
		
	</script>
	
</body>
</html>
{% endblock content %}



