{% extends 'user_side/base.html' %}
{% load static %}
{% block title %} HOME{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shoping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.wrapper{
		  height: 38px;
		  width: 130px;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  background: #FFF;
		  border : solid #000000 0.5px;
		  border-radius: 5px;
		  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
		}
		.wrapper span{
		  width: 100%;
		  text-align: center;
		  font-size: 15px;
		  font-weight: 600;
		  cursor: pointer;
		  user-select: none;
		}
		.wrapper span.num{
		  font-size: 15px;
		  border-right: 2px solid rgba(0,0,0,0.2);
		  border-left: 2px solid rgba(0,0,0,0.2);
		  pointer-events: none;
		}
		.cart_3r1 .form-control{
		  border : solid #f7ba01 1px !important;
	  
		}
	  </style>
</head>
<body class="animsition">

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10 col-xl-8 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<form method="post">
								{% csrf_token %}
								<table class="table-shopping-cart">
									<tr class="table_head">
										<th class="column-1">Product</th>
										<th class="column-2">Name</th>
										<th class="column-3">Price</th>
										<th class="column-3">Size</th>
										<th class="column "><center>Quantity</center></th>
										<th class="column-5">Total</th>
										<th class="column-5">Action</th>
									</tr>
									{% for item in cart_items %}
									<tr class="table_row">
										<td class="column-1">
											<div class="how-itemcart1">
														<img src="{{ item.size_variant.product.productimage_set.first.image.url }}" alt="{{ item.product.name }}">
													</div>
												</td>
												<td class="column-2">{{ item.size_variant.product.name }}</td>
												<td class="column-3">&#8377;{{ item.size_variant.price }}</td>
												<td class="column-3">{{ item.size_variant.size }}</td>
												
												<td class="column-4">
													{% if item.size_variant.quantity > 1 %}
													<div class="wrapper">
														<span class="minus" onclick="cartQuantity(-1, '{{ item.size_variant.id }}', '{{ item.quantity }}')">-</span>
														<span class="num-{{item.size_variant.id}}">{{ item.quantity }}</span>
														<span class="plus" onclick="cartQuantity(1, '{{ item.size_variant.id }}', '{{ item.quantity }}')">+</span>
													</div>												
													
													{% else %}
													<div class="wrapper">
														<div class="text-danger">stock out</div>
													</div>
													{% endif %}
												</td>
												<td class="column-5">&#8377; {{ item.price }}</td>
												<td class="column-5">
													<div class="delete-item">
													<i data-item-id="{{ item.id }}"
													onclick="confirmDelete(this) " class="fa-solid fa-trash fa-lg" style="color: #cc0000;"></i>
													</div>
												</td>
											</tr>
									{% endfor %}
	
								</table>
							</form>
							
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-4 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									$79.65
								</span>
							</div>
						</div>

						

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									$79.65
								</span>
							</div>
						</div>

						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
		
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	
	

	{% comment %} <script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script> {% endcomment %}

	   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	   <script>
		function confirmDelete(button) {
			const itemId = button.getAttribute('data-item-id');
		  
			Swal.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
			  if (result.isConfirmed) {
				// User confirmed the deletion, proceed with the AJAX request to remove the item
				$.ajax({
				  type: 'POST',
				  url: '/remove_item_from_cart/',
				  data: {
					item_id: itemId,
					csrfmiddlewaretoken: getCookie('csrftoken')
				  },
				  success: function(data) {
					console.log('Item removed successfully.');
					location.reload(); // Reload the page
				  },
				  error: function(jqXHR, textStatus, errorThrown) {
					console.error('Error removing item:', errorThrown);
				  }
				});
			  }
			});
		  }
		
		// Function to get the CSRF token from cookies
		function getCookie(name) {
			const value = `; ${document.cookie}`;
			const parts = value.split(`; ${name}=`);
			if (parts.length === 2) return parts.pop().split(';').shift();
		}
		
	   </script>


	   <script>
		function getCSRFToken() {
			return document.querySelector('input[name=csrfmiddlewaretoken]').value;
		}
	
		function cartQuantity(change, variantId, quantity) {
			console.log("Change: " + change);
			console.log("Variant ID: " + variantId);
			console.log("Quantity: " + quantity);
			console.log('botton clicked')
			var c = change
			var p = variantId
			var e = quantity
			$.ajax({
				url: '/update_cart',
				type: 'POST',
				encocded:true,
				data:{
					change: c,
					variantId: p,
					quantity: e
				},

				headers: {
					'X-CSRFToken': getCSRFToken() // Include the CSRF token in the request header
				},
				success: function(data) {
					// Handle the response from the server
					console.log(data);
	
					// Update the displayed quantity based on the server response
					var newQuantity = data.updatedQuantity; // Replace with the actual property in the response
	
					// Find the <span> element with class "num" and update its content
					$(`.num-${variantId}`).text(newQuantity);
				},
				error: function(error) {
					console.error('Error:', error);
				}
			});
		}
	</script>
	
		
	
	
</body>
</html>
{% endblock %}